-##header_home.nav_icon_block
  -#.nav_icon_image
  -#  = link_to (image_tag "home.png"),root_path
  -#.nav_text
  -#  %label
  -#    Home

:css
  #header_home{
  position: relative;
  left:80px;
  }

